.bg-dark {
  background: #000;
  color: #fff; }

#main-header img {
  width: 100%;
  height: 100%; }

#main-header .port-item {
  width: 25%; }
  #main-header .port-item .fa {
    font-size: 2em; }

#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer; }

#contact .input-group-addon {
  width: 70px; }

@media (min-width: 1199px) {
  .port-item {
    padding: 2.5em !important; } }

@media (min-width: 991px) {
  .name .fa {
    font-size: 25px; } }

/* Big tablets (widths smaller than the 1140px row): from 1024px to 1200px */
/* Small tablets in portrait mode to big tablets: from 768px to 1023px */
@media only screen and (max-width: 1023px) {
  .name h1 {
    font-size: 250%; }
  .name .fa {
    font-size: 1.3em;
    margin-top: -5px; } }

/* Larger phones to small tablets: from 481px to 767px */
@media only screen and (max-width: 767px) {
  .name h1 {
    font-size: 350%; }
  .name .fa {
    font-size: 1.5em; } }

/* Small phones: from 0 to 480px */
@media only screen and (max-width: 480px) {
  .name h1 {
    font-size: 200%; }
  .name .fa {
    font-size: 1em;
    margin: -8px 4px 0 4px; }
  #contact .input-group-addon {
    width: 65px; }
  #contact .fa {
    font-size: 0.8em; } }
